# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

## Задачи для разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

In [1]:
import json

with open('addres-book.json', mode = 'r', encoding = 'utf-8') as f:
    contacts = json.load(f)
    for contact in contacts:
        if 'email' in contact:
            print(contact['email'])

faina@mail.ru
robert@mail.ru

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

In [2]:
with open('addres-book.json', mode = 'r', encoding = 'utf-8') as f:
    contacts = json.load(f)
    for contact in contacts:
        if 'phones' in contact:
            for phone in contact['phones']:
                print(phone['phone'])

232-19-55
+7 (916) 232-19-55
111-19-55
+7 (916) 445-19-55

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

## Лабораторная работа №4

### JSON

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [3]:
import json

file = open('contributors_sample.json', mode = 'r', encoding = 'utf-8')
contributors = json.load(file)
for i in range(3):
    for key in contributors[i]:
        print('{0}: {1}'.format(key, contributors[i][key]))
    print()

username: uhebert
name: Lindsey Nguyen
sex: F
address: 01261 Cameron Spring
Taylorfurt, AK 97791
mail: jsalazar@gmail.com
jobs: ['Energy engineer', 'Engineer, site', 'Environmental health practitioner', 'Biomedical scientist', 'Jewellery designer']
id: 35193

username: vickitaylor
name: Cheryl Lewis
sex: F
address: 66992 Welch Brooks
Marshallshire, ID 56004
mail: bhudson@gmail.com
jobs: ['Music therapist', 'Volunteer coordinator', 'Designer, interior/spatial']
id: 91970

username: sheilaadams
name: Julia Allen
sex: F
address: Unit 1632 Box 2971
DPO AE 23297
mail: darren44@yahoo.com
jobs: ['Management consultant', 'Engineer, structural', 'Lecturer, higher education', 'Theatre manager', 'Designer, textile']
id: 1848091

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [11]:
for contributor in contributors:
    domain = contributor['mail'].split('@')[1]
    domains[domain] = domains.get(domain, 0) + 1
print(domains)

{'gmail.com': 8592, 'yahoo.com': 8142, 'hotmail.com': 8466}

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [12]:
def search_user(username, contributors):
    find = 0
    for contributor in contributors:
        if contributor['username'] == username:
            for key in contributor:
                print('{0}: {1}'.format(key, contributor[key]))
            find = 1
    if find == 0:
        raise(ValueError)

search_user('jean67', contributors)
search_user('sanek23', contributors)

username: jean67
name: Nicholas Harrington
sex: M
address: 9080 Monica Crescent Suite 820
North Deanbury, HI 28977
mail: denise42@gmail.com
jobs: ['Network engineer', 'Youth worker', 'Primary school teacher', 'Engineer, broadcasting (operations)']
id: 676820

ValueError:

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [15]:
males, females = 0, 0
for contributor in contributors:
    if contributor['sex'] == 'M':
        males += 1
    else:
        females += 1
print('Females: {0}   Males: {1}'.format(females, males))

Females: 2136   Males: 2064

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [18]:
import pandas as pd

contributors_df = pd.DataFrame(contributors, columns = ["id", "username", "sex"])
contributors_df

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке присутствует
в JSON-файле. Для скольких человек информация отсутствует?

In [35]:
recipes = pd.read_csv("recipes_sample.csv")
general_df = pd.merge(recipes.set_index('contributor_id'), contributors_df.set_index('id'), how='right', left_index=True, right_index=True)
general_df['contributor_id'] = general_df.index
general_df = general_df.set_index('id')
print('Information missing for {0} people'.format(len(recipes) - len(general_df)))
general_df

Information missing for 15059 people

,name,minutes,submitted,n_steps,description,n_ingredients,username,sex,contributor_id
id,,,,,,,,,
118667,almond rhubarb coffee cake,63,2005-04-22,10.0,from my collection of recipes. haven't tried i...,12.0,laura16,M,1535
140850,apple squares or apple coffee cake,70,2005-10-10,NaN,a neighbor brought these over as a thank-you g...,10.0,laura16,M,1535
91938,aunt gin s vegetable soup crock pot,510,2004-05-26,6.0,my husband's great aunt make this for him all ...,NaN,laura16,M,1535
100626,bbq pulled pork sandwiches,630,2004-09-27,6.0,this meal is one we always eat too much of. i ...,5.0,laura16,M,1535
104662,brewed orange cinnamon coffee,5,2004-11-23,8.0,i've had this recipe for at least 8 years. it ...,NaN,laura16,M,1535
...,...,...,...,...,...,...,...,...,...
534786,white bean and chicken chili,50,2018-01-02,NaN,most recipes for white bean and chicken chilie...,11.0,fcline,F,2001896867
535104,fruit loop treats,15,2018-02-06,NaN,"fruity, slightly elevated, ridiculously easy a...",NaN,ugutierrez,M,2001968497
535650,mexican style pickled vegetables,210,2018-04-19,NaN,spicy chiles and sweet carrots make these pick...,13.0,ugutierrez,M,2001968497
535389,vietnamese chicken,50,2018-03-20,10.0,vietnamese chicken with ginger.,11.0,anthony87,M,2002059754
536747,lemon pom pom cake,210,2018-08-15,51.0,"by far one of my most joyous cake creations, t...",20.0,martin01,F,2002247884

### pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`